Repository tuan231195/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

render code
  .eslintrc.js
  package-lock.json
  package.json
  src/components/markdown/mdx.tsx
  src/pages/blogs.tsx
  src/templates/BlogTemplate.tsx
Due: eslint --fix

render source code
  blog/2020-08-10-my-first-blog-post.md
  blog/2020-08-10-my-first-blog.md
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/blogs/BlogEntry.tsx
  src/components/blogs/BlogRoll.tsx
  src/components/markdown/mdx.tsx
  src/pages/blogs.tsx
  src/templates/BlogTemplate.tsx
  src/types/blog.ts
Due: eslint --fix

add tags
  src/components/blogs/BlogEntry.tsx
  src/components/common/Nav.tsx
  src/components/projects/ProjectMain.tsx
  src/components/ui/groups/Groups.tsx
  src/components/ui/icons/Icon.tsx
  src/components/ui/misc/Badge.tsx
  src/components/ui/misc/ColorBadge.tsx
  src/icons/document.svg
  src/pages/blogs.tsx
  src/templates/BlogTemplate.tsx
Due: eslint --fix

add pagetemplate
  gatsby-config.js
  src/templates/BlogTemplate.tsx
  src/templates/PageTemplate.tsx
  src/utils/hooks/site-metadata.ts
Due: eslint --fix

add 404
  src/components/ui/errors/ErrorPage.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/arrow-narrow-left.svg
  src/pages/404.tsx
Due: eslint --fix

add grey background
  src/components/blogs/BlogRoll.tsx
  src/components/contact/ContactMain.tsx
  src/components/home/GithubContribution.tsx
  src/components/home/HomeMain.tsx
  src/components/projects/ProjectMain.tsx
  src/components/ui/containers/Container.tsx
  src/components/ui/groups/Groups.tsx
  src/icons/github.svg
  src/lambda/contact.ts
  src/pages/404.tsx
  src/pages/blogs.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  src/templates/BlogTemplate.tsx
  src/templates/PageTemplate.tsx
  src/theme.ts
Due: eslint --fix

improve responsiveness
  gatsby-config.js
  package-lock.json
  package.json
  src/components/blogs/BlogRoll.tsx
  src/components/contact/ContactMain.tsx
  src/components/home/GeneralInfo.tsx
  src/components/home/HomeMain.tsx
  src/components/projects/ProjectMain.tsx
  src/components/ui/containers/Container.tsx
  src/components/ui/containers/Grid.tsx
  src/components/ui/containers/Timeline.tsx
  src/templates/BlogTemplate.tsx
  src/templates/PageTemplate.tsx
Due: eslint --fix

optimize images
  blog/2020-08-10-my-first-blog.md
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/ui/containers/Card.tsx
  src/pages/blogs.tsx
  src/templates/BlogTemplate.tsx
  static/img/512px-eo_circle_lime_letter-t.svg.png
Due: eslint --fix

enable smartypants plugin
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix

enable plugin offline
  gatsby-config.js
Due: eslint --fix

extract highlight to a new component
  gatsby-config.js
  src/components/markdown/CodeBlock.tsx
  src/components/markdown/mdx.tsx
Due: eslint --fix

add pagination component
  src/components/ui/containers/Pagination.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/arrow-left.svg
  src/icons/arrow-right.svg
  src/utils/array/range.ts
Due: eslint --fix

add pagination support
  gatsby-node.js
  package.json
  src/components/blogs/BlogEntry.tsx
  src/components/blogs/BlogRoll.tsx
  src/components/common/Nav.tsx
  src/icons/document.svg
  src/pages/blogs.tsx
  src/templates/Blogs.tsx
Due: eslint --fix

adding tagged pages
  gatsby-node.js
  package-lock.json
  package.json
  src/components/blogs/BlogEntry.tsx
  src/templates/BlogTemplate.tsx
  src/templates/TaggedBlogs.tsx
Due: eslint --fix

improve seo
  gatsby-config.js
  src/components/common/SEO.tsx
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
  src/templates/BlogTemplate.tsx
  src/templates/Blogs.tsx
  src/templates/PageTemplate.tsx
  src/templates/TaggedBlogs.tsx
Due: eslint --fix

add disqus
  package-lock.json
  package.json
  src/components/blogs/DisqusComments.tsx
  src/templates/BlogTemplate.tsx
Due: eslint --fix

controlling order
  src/components/home/HomeMain.tsx
  src/components/ui/containers/Grid.tsx
Due: eslint --fix

add search to blog posts
  gatsby-config.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/blogs/BlogEntry.tsx
  src/components/input/TextAreaField.tsx
  src/components/input/TextField.tsx
  src/components/search/Hits.tsx
  src/components/search/SearchBox.tsx
  src/components/search/SearchProvider.tsx
  src/templates/BlogTemplate.tsx
  src/templates/Blogs.tsx
  src/templates/TaggedBlogs.tsx
  src/types/blog.ts
  src/utils/algolia.js
  tailwind.config.js
Due: eslint --fix

add search to tags page
  src/components/search/SearchProvider.tsx
  src/templates/TaggedBlogs.tsx
Due: eslint --fix

add not found
  src/components/search/Hits.tsx
  src/components/search/SearchProvider.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/sad.svg
Due: eslint --fix

Create Blog “2020-08-13-extend-popular-libraries-with-es6-proxy”
  blog/2020-08-13-extend-popular-libraries-with-es6-proxy.md
  static/img/josefin-ws5yjfjycny-unsplash.jpg
Due: none

Delete Blog “2020-08-10-my-first-blog”
  blog/2020-08-10-my-first-blog.md
  blog/2020-08-13-extend-popular-libraries-with-es6-proxy.md
  src/components/markdown/CodeBlock.tsx
Due: eslint --fix

restyle blog posts
  blog/2020-08-13-extend-popular-libraries-with-es6-proxy.md
  src/components/markdown/CodeBlock.tsx
  src/components/markdown/mdx.tsx
  src/templates/BlogTemplate.tsx
  tailwind.config.js
Due: eslint --fix

fix hidden navbar
  src/components/common/Nav.tsx
  src/components/markdown/mdx.tsx
Due: eslint --fix

fixed overflow
  src/components/blogs/BlogEntry.tsx
Due: eslint --fix

cleanup plugins
  src/index.css
  src/templates/BlogTemplate.tsx
  tailwind.config.js
  tailwindcss/plugins/truncate-lines.js
Due: eslint --fix, prettier --write

change fonts to montserrat
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/index.css
Due: eslint --fix, prettier --write

add rss feed
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix

add google analytics
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix

handle window click
  src/components/common/Nav.tsx
  src/layout/Index.tsx
  src/utils/hooks/events.ts
Due: eslint --fix

add rss
  src/components/common/Nav.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/rss.svg
  src/layout/Index.tsx
Due: eslint --fix

Delete “static/img/beautiful-calla-lily-nice-background-color-70725804.jpg”
  static/img/beautiful-calla-lily-nice-background-color-70725804.jpg
Due: none

Create Blog “2020-08-16-promisify-all-the-things”
  blog/2020-08-16-promisify-all-the-things.md
  static/img/fabrizio-conti-fsri38auqry-unsplash.jpg
Due: none

sort tags
  package-lock.json
  package.json
  src/components/blogs/BlogEntry.tsx
  src/components/projects/ProjectMain.tsx
  src/templates/BlogTemplate.tsx
  src/utils/colors/index.ts
Due: eslint --fix

add sitemap
  gatsby-config.js
  package-lock.json
  package.json
Due: eslint --fix

Create Blog “2020-08-19-web-crawling-with-puppeteer-and-tor-browser”
  blog/2020-08-19-web-crawling-with-puppeteer-and-tor-browser.md
  static/img/drew-collins-nrqijf2nvhq-unsplash.jpg
Due: none

Create Blog “2020-08-19-copy-files-using-spec”
  blog/2020-08-19-copy-files-using-spec.md
  static/img/sebastian-unrau-cod2q92uaeg-unsplash.jpg
Due: none

restyle list
  blog/2020-08-19-web-crawling-with-puppeteer-and-tor-browser.md
  src/index.css
  src/profile.tsx
  src/templates/BlogTemplate.tsx
Due: eslint --fix, prettier --write

added new project
  src/components/blogs/BlogRoll.tsx
  src/profile.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.css) or (any of: {*.{json,md}})
