Repository tuan231195/personal-website: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix"],
  "*.css": ["prettier --write"],
  "{*.{json,md}}": ["prettier --write"]
}

add tailwindcss
  .eslintrc.js
  babel-plugin-macros.config.js
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  src/pages/index.tsx
  tailwind.config.js
Due: eslint --fix

add relative import support
  gatsby-browser.js
  gatsby-node.js
  package-lock.json
  package.json
  src/components/home/Headline.tsx
  src/pages/index.tsx
  src/twin.d.ts
  tsconfig.json
Due: eslint --fix

add raw css classes
  .eslintrc.js
  babel-plugin-macros.config.js
  gatsby-browser.js
  gatsby-config.js
  package-lock.json
  package.json
  postcss.config.js
  src/components/home/Headline.tsx
  src/components/ui/controls/Button.tsx
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write

added icons
  gatsby-node.js
  package-lock.json
  package.json
  src/components/home/Headline.tsx
  src/components/ui/controls/Button.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/chevron-down.svg
  src/icons/close.svg
  src/icons/send.svg
Due: eslint --fix

add headline
  gatsby-config.js
  package-lock.json
  package.json
  src/components/home/Headline.tsx
  src/components/ui/controls/Button.tsx
  src/components/ui/groups/Groups.tsx
  src/components/ui/icons/Icon.tsx
  src/components/ui/images/Avatar.tsx
  src/icons/facebook.svg
  src/icons/github.svg
  src/icons/linkedin.svg
  src/icons/mail.svg
  src/icons/phone.svg
  src/index.css
  tailwind.config.js
Due: eslint --fix, prettier --write

add grid system
  package-lock.json
  package.json
  src/components/home/Headline.tsx
  src/components/home/HomeMain.tsx
  src/components/ui/containers/Card.tsx
  src/components/ui/containers/Container.tsx
  src/components/ui/containers/Grid.tsx
  src/components/ui/containers/GridColumn.tsx
  src/components/ui/controls/Button.tsx
  src/pages/index.tsx
Due: eslint --fix

add about me section
  gatsby-config.js
  src/components/home/AboutMe.tsx
  src/components/home/GeneralInfo.tsx
  src/components/home/Headline.tsx
  src/components/home/HomeMain.tsx
  src/components/home/ProfileSection.tsx
  src/components/ui/groups/Groups.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/link.svg
  src/icons/location.svg
  src/index.css
  src/theme.ts
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

add work experiences
  src/components/home/GeneralInfo.tsx
  src/components/home/HomeMain.tsx
  src/components/home/WorkExperiences.tsx
Due: eslint --fix

add education
  src/components/home/Education.tsx
  src/components/home/HomeMain.tsx
  src/components/home/ProfileSection.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/graduation-cap.svg
Due: eslint --fix

add tooltip class
  .eslintrc.js
  src/components/home/HomeMain.tsx
  src/components/home/Skills.tsx
  src/components/ui/groups/Groups.tsx
  src/components/ui/icons/Icon.tsx
  src/components/ui/misc/ProgressBar.tsx
  src/components/ui/popover/Popover.tsx
  src/components/ui/popover/Portal.tsx
  src/components/ui/popover/Tooltip.tsx
  src/html.js
  src/icons/external.svg
  src/utils/events/listener-group.ts
  src/utils/hooks.ts
Due: eslint --fix

add languages
  package-lock.json
  package.json
  src/components/home/HomeMain.tsx
  src/components/home/Languages.tsx
  src/components/home/WorkExperiences.tsx
  src/components/ui/misc/Star.tsx
  src/components/ui/popover/Popover.tsx
  src/theme.ts
  src/utils/functions/index.ts
  src/utils/hooks/basic.ts
  src/utils/hooks/layout.ts
Due: eslint --fix

added awards
  src/components/home/Awards.tsx
  src/components/home/HomeMain.tsx
Due: eslint --fix

moved hardcoded data to a separate file
  gatsby-config.js
  src/components/home/AboutMe.tsx
  src/components/home/Awards.tsx
  src/components/home/Education.tsx
  src/components/home/GeneralInfo.tsx
  src/components/home/Headline.tsx
  src/components/home/HomeMain.tsx
  src/components/home/Languages.tsx
  src/components/home/Skills.tsx
  src/components/home/WorkExperiences.tsx
  src/pages/index.tsx
  src/profile.tsx
Due: eslint --fix

add github
  package-lock.json
  package.json
  src/components/home/GithubContribution.tsx
  src/components/home/HomeMain.tsx
  src/profile.tsx
Due: eslint --fix

add navbar
  src/components/common/Nav.tsx
  src/components/home/Headline.tsx
  src/components/ui/containers/Card.tsx
  src/components/ui/icons/Icon.tsx
  src/components/ui/images/Avatar.tsx
  src/icons/home.svg
  src/pages/index.tsx
  src/profile.tsx
  tailwind.config.js
Due: eslint --fix

add footer
  gatsby-config.js
  package-lock.json
  package.json
  src/components/common/Footer.tsx
  src/components/common/Nav.tsx
  src/components/home/GeneralInfo.tsx
  src/components/home/Skills.tsx
  src/layout/Index.tsx
  src/pages/index.tsx
Due: eslint --fix

add timeline
  src/components/home/WorkExperiences.tsx
  src/components/ui/containers/Timeline.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/check.svg
Due: eslint --fix

responsive navbar
  src/components/common/Nav.tsx
  tailwind.config.js
Due: eslint --fix

sticky nav
  src/components/common/Nav.tsx
  src/components/home/HomeMain.tsx
  src/utils/dom/offset.ts
Due: eslint --fix

adding projects
  src/components/home/Headline.tsx
  src/components/projects/ProjectMain.tsx
  src/components/ui/containers/Container.tsx
  src/components/ui/misc/Badge.tsx
  src/layout/Index.tsx
  src/pages/projects.tsx
  src/profile.tsx
  src/utils/colors/index.ts
Due: eslint --fix

add all projects
  src/components/common/Nav.tsx
  src/components/projects/ProjectMain.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/bag.svg
  src/icons/web.svg
  src/profile.tsx
Due: eslint --fix

add contact form
  .eslintrc.js
  package-lock.json
  package.json
  src/components/common/Nav.tsx
  src/components/contact/ContactMain.tsx
  src/components/input/FormField.tsx
  src/components/input/TextAreaField.tsx
  src/components/input/TextField.tsx
  src/components/ui/controls/Button.tsx
  src/pages/contact.tsx
Due: eslint --fix

fixed sticky header
  src/components/common/Nav.tsx
  src/components/contact/ContactMain.tsx
  src/components/projects/ProjectMain.tsx
  src/layout/Index.tsx
Due: eslint --fix

fixed disabled button
  src/components/home/Headline.tsx
  src/components/ui/controls/Button.tsx
Due: eslint --fix

add contact lambda function
  .eslintrc.js
  gatsby-config.js
  netlify.toml
  package-lock.json
  package.json
  src/components/contact/ContactMain.tsx
  src/http/api.ts
  src/lambda/contact.ts
  src/schemas/contact.ts
  webpack.functions.js
Due: eslint --fix

add react toastify
  package-lock.json
  package.json
  src/components/contact/ContactMain.tsx
  src/http/api.ts
  src/layout/Index.tsx
Due: eslint --fix

disable purge css
  src/http/api.ts
  tailwind.config.js
Due: eslint --fix

fixed active class name
  src/components/common/Nav.tsx
  src/components/projects/ProjectMain.tsx
  src/components/ui/misc/Badge.tsx
  src/profile.tsx
Due: eslint --fix

add react helmet
  gatsby-config.js
  package-lock.json
  package.json
  src/pages/contact.tsx
  src/pages/index.tsx
  src/pages/projects.tsx
Due: eslint --fix

add favicon
  gatsby-config.js
  package-lock.json
  package.json
  src/images/favicon.ico
  src/images/gatsby-icon.png
Due: eslint --fix

improve accessibility
  src/components/common/Nav.tsx
  src/components/home/Awards.tsx
  src/components/home/Education.tsx
  src/components/home/Headline.tsx
  src/components/home/Skills.tsx
  src/components/home/WorkExperiences.tsx
  src/html.js
Due: eslint --fix

integrate netlify cms
  .gitignore
  gatsby-config.js
  package-lock.json
  package.json
  src/components/input/TextField.tsx
  static/admin/config.yml
Due: eslint --fix

Create Blog “2020-08-10-my-first-blog”
  blog/2020-08-10-my-first-blog.md
  static/img/512px-eo_circle_lime_letter-t.svg.png
  static/img/beautiful-calla-lily-nice-background-color-70725804.jpg
Due: none

add blog roll
  gatsby-config.js
  package-lock.json
  package.json
  src/components/blogs/BlogRoll.tsx
  src/components/common/Nav.tsx
  src/components/ui/icons/Icon.tsx
  src/icons/arrow-narrow-right.svg
  src/icons/calendar.svg
  src/index.css
  src/pages/blogs.tsx
  src/utils/transformer/index.ts
  static/admin/config.yml
Due: eslint --fix, prettier --write

added slug
  static/admin/config.yml
Due: none

Update Blog “2020-08-10-my-first-blog”
  blog/2020-08-10-my-first-blog.md
Due: none

Delete Blog “2020-08-10-my-first-blog”
  blog/2020-08-10-my-first-blog.md
Due: none

Create Blog “2020-08-10-my-first-blog-post”
  blog/2020-08-10-my-first-blog-post.md
Due: none

render blog post
  blog/2020-08-10-my-first-blog-post.md
  gatsby-node.js
  src/components/blogs/BlogEntry.tsx
  src/components/blogs/BlogRoll.tsx
  src/components/ui/containers/Card.tsx
  src/pages/blogs.tsx
  src/templates/BlogTemplate.tsx
  src/types/blog.ts
  static/admin/config.yml
Due: eslint --fix
